:root{
   --primary: #218b8a;
    --secondary: #2b9fb4;
    --accent: #00c853;
    --accent1:#15803d;
    --danger: #b72826;
    --red:#dc2626;
    --light: #f5f5f5;
    --dark: #212121;
    --gray:#d7dbdfd2;
    --orange1:#f59e0b;
    --orange2:#c76f0a;
    --radius: 0.6em;
    --transition: 0.3s ease;
}

.section_about{
    padding: 2em;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background:linear-gradient(var(--gray),var(--light));
    border-radius: var(--radius);
    gap: 0.6em;
    word-spacing: 0.1em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.table-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background:linear-gradient(var(--gray),var(--light));
    padding:1em;
    margin-bottom: 1em;
    overflow-x: auto;
    
}
table{
  font-size:1em;
  width:100%;
  border-collapse:collapse;
  box-shadow: 0em 0.5em 1em var(--dark);
  border-radius:var(--radius);
}

th{
    padding: 0.5em 0.5em;
    font-weight: bold;
    background:linear-gradient(var(--primary),var(--secondary));
    color:var(--light);
    
}
td{
  padding:0.5em 0.5em;
  text-align:left;
  color: var(--dark);
  border-right:2px solid var(--gray) ;
  border-top:2px solid var(--gray);
  text-align: center;
}

tr:hover{
  background:var(--gray);
}
h2{
    color: var(--primary);
}
.h2_p{
    color: var(--secondary);
}
h3{
    color: var(--primary);
}

ul h4{
    color: var(--primary);
}
ul li{
    color: var(--secondary);
}
