:root{
   --primary: #218b8a;
    --secondary: #2b9fb4;
    --accent: #00c853;
    --accent1:#15803d;
    --danger: #b72826;
    --red:#dc2626;
    --light: #f5f5f5;
    --dark: #212121;
    --gray:#d7dbdfd2;
    --orange1:#f59e0b;
    --orange2:#c76f0a;
    --radius: 0.6em;
    --transition: 0.3s ease;
}

