:root{
   --primary: #218b8a;
    --secondary: #2b9fb4;
    --accent: #00c853;
    --accent1:#15803d;
    --danger: #b72826;
    --red:#dc2626;
    --light: #f5f5f5;
    --dark: #212121;
    --gray:#d7dbdfd2;
    --orange1:#f59e0b;
    --orange2:#c76f0a;
    --radius: 0.6em;
    --transition: 0.3s ease;
}
/* this part of the table */
.table-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.4em;
    background:linear-gradient(var(--light),var(--gray));
    padding:1em;
    margin-bottom: 1em;
    overflow-x: auto;
}

.h2_button{
    padding: 1em;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    flex-wrap: wrap;
}

table{
  font-size:small;
  width:100%;
  border-collapse:collapse;
  box-shadow: 0em 0.5em 1em var(--dark);
  border-radius:var(--radius);
}

th{
    padding: 0.5em 0.5em;
    font-weight: bold;
    background:linear-gradient(var(--primary),var(--secondary));
    color:var(--light);
    
}
td{
  padding:0.5em 0.5em;
  text-align:left;
  color: var(--dark);
  border-top:2px solid var(--gray);
}

tr:hover{
  background:var(--gray);
}

.add-btn{
    padding: 0.5em;
    border: none;
    border-radius: var(--radius);
    width: 10em;
    cursor: pointer;
    background:linear-gradient(var(--accent),var(--secondary));

}
.add-btn:hover{
    background:var(--accent1);
}

.edit-btn{
    padding: 0.5em;
    border: none;
    background:var(--orange1);
    width: 3.5em;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: bold;
}
.edit-btn:hover{
    background:var(--orange2);
}

.delete-btn{
    padding: 0.5em;
    border: none;
    border-radius: var(--radius);
    width: 3em;
    background:var(--red);
    width: 3.5em;
    cursor: pointer;
    font-weight:bold;
}
.delete-btn:hover{
    background:var(--danger);
}
