:root{
   --primary:rgb(219, 141, 154);
    --secondary: pink;
    --accent: #00c853;
    --accent1:#15803d;
    --danger: #b72826;
    --red:#dc2626;
    --light: #f5f5f5;
    --dark: #212121;
    --gray:#d7dbdfd2;
    --orange1:#f59e0b;
    --orange2:#c76f0a;
    --radius: 0.6em;
    --transition: 0.3s ease;
}
h2{
    color: var(--primary);
}
.section_customers{
     display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--secondary);
    font-size:medium;
    list-style-type: none;
    padding: 1em;
    padding-right: 1.6em;
    gap: 0.5em;
}
/* table */
.table-container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.4em;
    background:linear-gradient(var(--light),var(--gray));
    padding:1em;
    margin-bottom: 1em;
    overflow-x: auto;
}


#customers{
    width: 5em;
    height: auto;
}

table{
    font-size:1em;
    width:100%;
    border-collapse:collapse;
    box-shadow: 0em 0.5em 1em var(--dark);
    border-radius:var(--radius);
}

th{
    padding: 0.5em 0.5em;
    font-weight: bold;
    background:linear-gradient(var(--primary),var(--secondary));
    color:var(--light);
    
}
td{
  padding:0.5em 0.5em;
  text-align:left;
  color: var(--dark);
  border-top:2px solid var(--gray);
}

tr:hover{
  background:var(--gray);
}


.edit-btn{
    padding: 0.5em;
    border: none;
    background:var(--orange1);
    width: 3.5em;
    border-radius: var(--radius);
    cursor: pointer;
    font-weight: bold;
}
.edit-btn:hover{
    background:var(--orange2);
}

.delete-btn{
    padding: 0.5em;
    border: none;
    border-radius: var(--radius);
    width: 3em;
    background:var(--red);
    width: 3.5em;
    cursor: pointer;
    font-weight:bold;
}
.delete-btn:hover{
    background:var(--danger);
}

.copy-btn{
    padding: 0.5em;
    border: none;
    border-radius: var(--radius);
    width: 3em;
    background:var(--accent);
    width: 3.5em;
    cursor: pointer;
    font-weight:bold;
}
.copy-btn:hover{
    background:var(--accent1);
}  
